# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
package-lock.json

# Java/Maven
*.class
*.jar
*.war
*.ear
*.nar
hs_err_pid*
replay_pid*
**/target/
**/.mvn/toolchains.xml

# IDE
.classpath
.project
.settings/
*.launch
.factorypath
*.iml

# Env
.env
.env.*
